extends ../partials/_header

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
    .container-fluid
      a.navbar-brand.btn.btn-primary(href=`/tasks`)
        i.fas.fa-chevron-left
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav.flex-row.flex-wrap.bg-navbar-nav.pt-2.py-md-0
          //
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
            </li>

  .container
    .row.mt-4.justify-content-center
      .card(style='width: 18rem;')
        .card-header Edit Task
        .card-body
          form(action=`/tasks/update/${task.id}` method='POST')
            label(for="id" class="form-label") ID:
            input#id(type='text' name='id' value= task._id disabled='' class="form-control")
            label(for="title" class="form-label") Title:
            input#id(type='text' name='title' value= task.title class="form-control")
            label(for="modelo" class="form-label") Description:
            input#id(type='text' name='description' value= task.description class="form-control")
            label(for="lat" class="form-label") Status:
            input#id(type='text' name='status' value=`${task.status}` disabled='' class="form-control")
            br
            .d-grid.gap-2
              input.btn.btn-primary.btn-block(type="submit" value="Save")

  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .social.d-flex.justify-content-center
      a.mx-2(href='https://www.linkedin.com/in/elias-moura/' target='_black')
        i.fab.fa-linkedin
      a.mx-2(href='https://github.com/EliasMoura2' target='_black')
        i.fab.fa-github
      a.mx-2(href='https://www.facebook.com/elias.moura.5/' target='_black')
        i.fab.fa-facebook-f
      a.mx-2(href='https://www.instagram.com/d.eliasmoura/' target='_black')
        i.fab.fa-instagram
      | Copyright © Elias Moura