extends ./partials/_header

block content
  //- - let title = 'Passport.js'
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .container-fluid
      a.navbar-brand(href='/')= `Welcome`
        //- i.fas.fa-sign-in-alt
        //- i.fas.fa-sign-out-alt
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse.row.justify-content-around
        ul.navbar-nav.flex-row.flex-wrap.bg-navbar-nav.pt-2.py-md-0
          //- li.nav-item
          //-   a.btn.btn-outline-secondary(aria-current='page' href='/home') Home
          //- li.nav-item.dropdown
          //-   a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data.nav-link.active-bs-toggle='dropdown' aria-expanded='false')
          //-     | Dropdown link
          //-   ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          //-     li
          //-       a.dropdown-item(href='#') Action
          //-     li
          //-       a.dropdown-item(href='#') Another action
          //-     li
          //-       a.dropdown-item(href='#') Something else here
        ul.navbar-nav.flex-row.flex-wrap.bg-navbar-nav.pt-2.py-md-0
          li.nav-item.mr-1.ml-1
            a.btn.btn-outline-secondary(href=`/users`) Users
          li.nav-item.mr-1.ml-1
            a.btn.btn-outline-secondary(href=`/tasks/task`) Tasks
        ul.navbar-nav.flex-row.flex-wrap.bg-navbar-nav.pt-2.py-md-0
          li.nav-item.mr-1.ml-1
            a.btn.btn-danger(href=`/auth/logout`) Exit
  
  .container-fluid
    .row.justify-content-center
      .col-lg-4.col-md-12.col-sm-12.mt-4
        a(href=`/users`)
          .card
            .card-header
              | Users
            img.card-img-top(src='../public/img/Online Review-bro.png')
      .col-lg-4.col-md-12.col-sm-12.mt-4
        a(href=`/tasks/task`)
          .card
            .card-header
              | Task
            img.card-img-top(src='../public/img/Scrum board-bro.png')
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .social.d-flex.justify-content-center
      a.mx-2(href='https://www.linkedin.com/in/elias-moura/' target='_black')
        i.fab.fa-linkedin
      a.mx-2(href='https://github.com/EliasMoura2' target='_black')
        i.fab.fa-github
      a.mx-2(href='https://www.facebook.com/elias.moura.5/' target='_black')
        i.fab.fa-facebook-f
      a.mx-2(href='https://www.instagram.com/d.eliasmoura/' target='_black')
        i.fab.fa-instagram
      | Copyright © Elias Moura
