extends ./partials/_header

block content
  - let title = 'Passport.js'
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .container-fluid
      a.navbar-brand(href='/')= title
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse.row.justify-content-between
        ul.navbar-nav.flex-row.flex-wrap.bg-navbar-nav.pt-2.py-md-0
          //- li.nav-item
          //-   a.nav-link.active(aria-current='page' href='/home') Home
          //- li.nav-item.dropdown
          //-   a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          //-     | Dropdown link
          //-   ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          //-     li
          //-       a.dropdown-item(href='#') Action
          //-     li
          //-       a.dropdown-item(href='#') Another action
          //-     li
          //-       a.dropdown-item(href='#') Something else here
        ul.navbar-nav.flex-row.flex-wrap.ms-md-auto.justify-content-around
          li.nav-item
            a.btn.btn-secondary(href=`users/signup`) Sign Up
          li.nav-item
            a.btn.btn-success(href=`users/login`) Log In
  .container
    h1 Hello world!
    //- a(href='#')
    //-   i.far.fa-comment-dots
    //- a(href='#')
    //-   i.fas.fa-mug-hot
    //- a(href='#')
    //-   i.fas.fa-hamburger
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus tempore necessitatibus deserunt eaque, ut nihil excepturi omnis iusto harum ipsa ex ab molestias iste aliquid quas adipisci. Aspernatur, ipsa quia.

  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .social.d-flex.justify-content-center
      a.mx-2(href='https://www.linkedin.com/in/elias-moura/' target='_black')
        i.fab.fa-linkedin
      a.mx-2(href='https://github.com/EliasMoura2' target='_black')
        i.fab.fa-github
      a.mx-2(href='https://www.facebook.com/elias.moura.5/' target='_black')
        i.fab.fa-facebook-f
      a.mx-2(href='https://www.instagram.com/d.eliasmoura/' target='_black')
        i.fab.fa-instagram
      | Copyright © Elias Moura
