doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sessions
form(action='/session/register' method='POST')
  input(type='email' name='email' placeholder='Write your email')
  input(type='password' name='password' placeholder='Write your password')
  button(type='submit')
    | Send
