extends ./partials/_header

block content
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .container-fluid
      a.navbar-brand(href='/') Passport.js
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse.row.justify-content-between
        ul.navbar-nav.flex-row.flex-wrap.bg-navbar-nav.pt-2.py-md-0
        //-   li.nav-item
        //-     a.nav-link.active(aria-current='page' href='/') Home
        //-   li.nav-item.dropdown
        //-     a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
        //-       | Dropdown link
        //-     ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
        //-       li
        //-         a.dropdown-item(href='#') Action
        //-       li
        //-         a.dropdown-item(href='#') Another action
        //-       li
        //-         a.dropdown-item(href='#') Something else here
        ul.navbar-nav.flex-row.flex-wrap.ms-md-auto
          li.nav-item
            a.btn.btn-warning(href=`/auth/signup`) Register
          //- li.nav-item
          //-   a.btn.btn-success(href=`users/signin`) SignIn
  //- .alert.alert-dismissible.alert-success
  //-   button.close(type='button' data-dismiss='alert') &times;
  //-   if data.message
  //-     strong#confir_passHelp.text-successs= data.message 
  .container
    .row.mt-4.justify-content-center
      .card(style='width: 18rem;')
        .card-header 
          | User Login
        .card-body
          //- if info && data.info 
          //- div.alert.alert-danger
          //-   = data.info
          //- p= data.message
          //- if info && info.message 
          //-   div.alert.alert-danger
          //-     = info.message
          form(action=`/auth/login` method='POST')
            label(for="email" class="form-label") Email:
            input#id(type='text' name='username' class="form-control")
            label(for="password" class="form-label") password:
            input#id(type='password' name='password' class="form-control")
            br
            .d-grid.gap-2
              input.btn.btn-primary.btn-block(type="submit" value="Login")
              a.btn.btn-warning.btn-block(href='/auth/signup')
                | Register
              .forgot
                a(href='#') Olvidé mi password

  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .social.d-flex.justify-content-center
      a.mx-2(href='https://www.linkedin.com/in/elias-moura/' target='_black')
        i.fab.fa-linkedin
      a.mx-2(href='https://github.com/EliasMoura2' target='_black')
        i.fab.fa-github
      a.mx-2(href='https://www.facebook.com/elias.moura.5/' target='_black')
        i.fab.fa-facebook-f
      a.mx-2(href='https://www.instagram.com/d.eliasmoura/' target='_black')
        i.fab.fa-instagram
      | Copyright © Elias Moura