@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700&display=swap');
/* .container{
  margin: 20px;
  border-radius: 5px;
  
} */
* {
  font-family: 'Exo 2', sans-serif;
}

/* .introduction{
  background-color: black;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
  color: #fff;
  font-size: 2.5rem;
}

.introduction h2{
  margin: 0;
  padding: 0;
} */

.card-img-top img{
  width: 350px;
}

.operations{
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
}

.card-header{
  text-align: center;
}

.left{
  /* width: 50%; */
}

/* .left img {
  width: 550px;
  height: 550px;
} */

.right{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  /* width: 50%; */
}


  /* p {
  width: 300px;
  margin: 0px 40px 0px 40px;
  text-align: center;
} */

footer {
  /* padding: 10px; */
  background-color: #555555;
  text-align: center;
  /* color: whitesmoke; */
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.flex-wrap {
  flex-wrap: wrap!important;
}

.flex-row {
  flex-direction: row!important;
}
